<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Shopping Cart</h2>
            </div>
            
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">

                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image"
                                                src="{{product.img}}" /></div>
                                    </div>
                                    <div class="col-md-5 product-info">
                                        <a class="product-name" href="#"></a>
                                        <div class="product-specs">

                                            <div><span>Weight: </span><span class="value">{{product.weight}}lb</span>
                                            </div>
                                            <div><span>SKU: </span><span class="value">{{product.sku}}</span></div>

                                        </div>
                                    </div>

                                    <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block"
                                            for="quantity">Quantity</label><input type="number" id="number"
                                            class="form-control quantity-input" value="1" /></div>
                                    <div class="col-6 col-md-2 price"><span>${{product.price}}</span></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <h4><span class="text">Subtotal</span><span class="price">${{product.price}}</span></h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Address:</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="shipping-city">
                                </div>

                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Zip:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="shipping-zip">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                        <input hidden="hidden" class="shipping-weight" value="{{product.weight}}">
                                        <button type="submit" class="calculate btn btn-dark">Calculate</button>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </form>

                    <div id="result"></div>

                            <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
                            <h4><span class="text">Total</span><span class="price">$360</span></h4><button
                                class="btn btn-primary btn-block btn-lg" type="button">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>